<div class="row-fluid">
  <div class="span2" id="answer<%=answer.id%>_vote">
    <%= render partial: 'answers/vote', locals: { answer: answer } %>
  </div>
  <div class="span10">
    <%=sanitize answer.answer_text %>
  </div>
</div>
<hr>
