<h4> <%= pluralize(@question.answers.count, "answer") %>: <hr> </h4>
<% answers.each do |answer| %>
  <% if (answer.id) then %>
    <div id="answer_<%=answer.id%>">
      <%= render answer %>
    </div>
  <% end%>
<% end %>
